<% if @datas.empty? %>
  <h2>該当する商品はありません</h2>
<% end %>
  <% @datas.each do |data| %>
    <div>
      <%= link_to item_path(data.id) do %>
        <%= attachment_image_tag data, :image, size: "190x150", class: "img_hover" %><br>
      <% end %>
      <p><%=  data.name %></p><br>
      <p>￥<%= data.price_without_tax %></p>
    </div>
  <% end %>
  