  <div class="container takasa">

    <div class="row">
      <div class="col-xs-10">
        <br></br>
        <h2>ショッピングカート</h2>
        <br></br>
        <div> <%= link_to "カートを空にする", cart_items_all_path(@cart_items), method: :delete, class:"btn btn-danger" %> </div>
      </div>
    </div>

    <div class="row">
      <table class="table table-bordered">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </table>
    </div>
  </div>