<!--<div class='container'>-->
  <!--<div class='row'>-->
  <div class="center-block">
    <h1>About</h1>
    ながのCAKEは全国発送可能なケーキ屋さんです。<br>
    お子様からお年寄りの方までお召し上がりいただけるよう、<br>
    様々なバリエーションをご用意しております。<br>
    また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
    ぜひご注文ください。
  </div>
  <!--</div>-->
<!--</div>-->