<div class='container'>
  <div class='row pb-5'>
    <div class='mx-auto col-12'>
      <div class="text-center">
        <h3 class="m-5">いらっしゃいませ！</h3>
        <h5 class="pb-5">
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </h5>
      </div>
    </div>

  <div class="text-left pb-5">
    <%= image_tag("ttt.jpeg", size:"700x400") %>
    <div>
      NAGANOCAKEは１つ１つ時間をかけて手作りしております。<br>
      大切な人のお誕生日や記念日には素敵なサプライズで喜んでもらいたいもの。<br>
      しかし家事や仕事に追われる日々で、思うように時間をかけられない方も多いはず。<br>
      そんなあなたの想いに寄り添い、共にカタチにしていくために、<br>
      ケーキ通販サイトは誕生しました。
    </div>
  </div>
  <div class="text-right pb-5">
    <%= image_tag("t.jpeg", size:"700x400") %>
    <div class="text-left ml-5 pl-5">
      <div class="ml-5 pl-5">
        <div class="ml-5 pb-5">
          お客様の体と心の健康を第一に考え、より自然な素材で添加物を極力使用せず、<br>
          そしてどこよりもお値打ちでご提供し、全てのお客様に愛されるお菓子屋でありたい・・・。<br>
          それがシャトレーゼの願いです。<br>
          私達シャトレーゼはこの想いを大切に、お菓子づくりに取り組んでいます。<br>
      </div>
    </div>
  </div>
  <div class="text-left pb-5">
    <%= image_tag("m.jpeg", size:"700x400") %>
    <div class="pb-2">
      この度の大雨・水害により被災された皆様に、謹んでお見舞いを申し上げます。<br>
      一日も早い復旧、復興がなされますこと心よりお祈り申し上げます。
    </div>
  </div>
  <div class="text-right pb-5">
    <%= image_tag("s.jpeg", size:"700x400") %>
    <div class="text-left ml-5 pl-5">
      <div class="ml-5 pl-5">
        <div class="ml-5">
        はじめに、新型コロナウイルスに罹患された皆さまに心よりお見舞いを申し上げるとともに<br>
      一日も早い回復をお祈り申し上げます。<br>
        また、日々厳しさを増す医療現場で闘われている医療従事者の皆さまには、<br>
      改めて敬意と応援の気持ちを表します。
      </div>

      </div>
    </div>
  </div>
  </div>
</div>