<div class='container'>
  <div class='row'>
      <div class='mx-auto col-12'>
        <div class="text-center">
          <h1 class="m-5">About</h1>
          <h4>
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
          </h4>
        </div>
    </div>
  </div>
</div>