<div class='container'>
  <div class='row'>
    <div class='mx-auto col-12'>
      <div class="text-center m-5">
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入は会員登録が必要になります
      </div>
    </div>
  </div>
</div>
