<div class="container">
  <h1>商品一覧</h1>
  （全 <%= @items.count %> 件）
  <% @items.each do |item| %>
    <%= link_to item_path(item) do %>
      <!--%= attachment_image_tag items, :image, :fill, 50, 50, fallback: "no-image.jpg" %>-->
      <% end %>
    <%= item.name %>
    <%= item.price %>
  <% end %>
</div>