<h1>会員情報編集ページ</h1>
<%= form_with model:@client, local:true do |f| %>
  <label for="inputName">名前</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  <%= f.submit "変更を保存" %>
<% end %>

<%= link_to ' 退会',client_path%>