// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.h4 {
  padding: 15px;
}


.outer {
  margin: 20px;
  padding: 20px;
}

.form-group {
  padding: 40px;
}

.groupp {
   padding: 40px;
}


dl dt{
  width: 165px;
  padding:10px 0;
  float:left;
  clear:both;
}

dl dd{
  padding:20px 0;
}


.signup-wrapper{


  background-image: url(640.jpeg);

}

.genres-wrapper{


  background-image: url(img2021.jpeg);

}



.new-wrapper{
    background-image: url(21.png);

}


