// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font {

　text-align: center;
  color: #fff;
  text-shadow: 0 0 15px #FF6694;

  font-family: 'Wawati SC',sans-serif;

}

@import url(https://fonts.googleapis.com/css?family=Chewy);