<!--<div class="serch_form">-->
<!--    %= form_with url: search_path,method: :get, local: true do |f| %>-->
<!--    %= f.text_field 'search[value]',placeholder:"商品名を検索"%>-->
<!--    %= f.button :type => "submit", do %>-->
<!--      <i class="fas fa-search search_form_icon"></i>-->
<!--    % end %>-->
<!--    % end %>-->
<!--</div>-->

<div class="search_form">
  <%= form_with(url: search_path, method: :get, local: true) do |f| %>
    <%= f.text_field 'search[value]',placeholder:"どんなケーキをお探しですか？" , class:"search_form_text" %>
    <%= f.button :type => "submit", class:"search_form_btn" do %>
      <i class="fas fa-search search_form_icon"></i>
    <% end %>
<% end %>
</div>